src/main/mule/dwpoc7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d04e6999-41ff-4cae-b488-a3dd36fa1c15" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dwpoc7Flow" doc:id="8c578294-b4fb-4176-aea7-a605f30679ac" >
		<http:listener doc:name="Listener" doc:id="dfa4fc2b-6616-4670-a3ff-0c45d07345ac" config-ref="HTTP_Listener_config" path="/mule"/>
		<ee:transform doc:name="Transform Message" doc:id="2053f3c6-00d4-48fa-a5ac-d959fc639cf8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"mule" ++ " soft"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63e6ba90-4ca1-43d6-ad9c-5e8ecd24dfc9" message="#[payload]"/>
	</flow>
</mule>
